.toDoDiv {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.toDoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}